{% extends 'base.html' %}

{% block header %}
    <div class="container pl20 pr20 pt10 pb10">
        <h1  class="title is-1 has-text-black">{% block title %}Déвμढ - All Projects{% endblock %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container pl20 pr20">
    {% for proj in projects %}
        <article class="project">
          <header>
            <div>
                <h3><a  href="/project/{{ proj['id'] }}">{{ proj['title'] }}</a></h3>
              <div class="about">PID <b>{{ proj['id'] }}</b> {{ proj['description'] }}</div>
              <div class="about">Admin_id <b>{{ proj['admin_uid'] }}</b> created on {{ proj['created'].strftime('%H:%M %m/%d/%y') }}</div>
            </div>
          </header>
        </article>

    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
        <div class="container pt20">
            <a class="button" href="/debug/">Back to Portal</a>
        </div>
    </div>
{% endblock %}
