{% extends 'base.html' %}

{% block header %}
    <div class="container pl20 pr20 pt10 pb10">
        <h1  class="title is-1 has-text-black">{% block title %}Annotate{% endblock %}</h1>
  {% if g.user %}
    <a class="button is-alt is-normal mr5" href="{{ url_for('project.import_dataset', pid=pid) }}">Import Data</a>
    <a class="button is-alt is-normal mr5" href="{{ url_for('project.todo') }}">Manage Data</a>
  {% endif %}
    </div>
{% endblock %}

{% block content %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/anno-style.css') }}">
<div id='quiz-container' class="main-quiz-holder">
        <div id="left-item">
                
        </div>


        <div class="slide-container">
            <div class="question-number">1/2</div>
            <div class="question"></div>
            <ul class="selection" style="margin: 0 auto;">
                <li class="button is-info is-light nav-previous"><font color="#fffaf0">✓</font> Yes</li>
                <li class="button is-warning is-light nav-next"><font color="green">×</font> No</li>
            </ul>
            <div class="nav-container">
                <a class="button is-info is-light nav-previous" href="#">&lt; Prev</a>
                <a class="button is-warning is-light nav-next" href="#">Next &gt;</a>
                
            </div>
        </div>




</div>
<script>
    data = {{ data|tojson }}
    alert(data["text"])
    text = data["text"]
    length = text.length
</script>
<!-- <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}} "></script>
<script type="text/javascript" src="{{url_for('static', filename='js/annotation.js')}} "></script> -->
{% endblock %}
