{% extends 'base.html' %}

{% block header %}
    <div class="container pl20 pr20 pt10 pb10">
        <h1  class="title is-1 has-text-black">{% block title %}Annotate{% endblock %}</h1>
  {% if g.user %}
    <a class="button is-alt is-normal mr5" href="{{ url_for('project.import_dataset', pid=pid) }}">Import Data</a>
    <a class="button is-alt is-normal mr5" href="{{ url_for('project.todo') }}">Manage Data</a>
  {% endif %}
    </div>
{% endblock %}

{% block content %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/anno-style.css') }}">
<div id='quiz-container' class="main-quiz-holder container"></div>
<script>
    data = {{ data|tojson }}
    alert(data["text"])
    text = data["text"]
    length = text.length
</script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}} "></script>
<script type="text/javascript" src="{{url_for('static', filename='js/annotation.js')}} "></script>
{% endblock %}
